# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
venv/
.env
new_aaanalysis_env/
.venv/

# ML artifacts
*.pkl
*.joblib
*.npy

# Generated outputs
features/
models/
results/
plots/

# Data
data/raw/
data/processed/

# VS Code
.vscode/